{% extends 'base.html' %} {% load static %}
<!-- custum css -->
{% block style %}
<link rel="stylesheet" href="{% static 'css/store.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
/>
{% endblock style %}
<!-- ------------- Header -------------  -->
{% block header %}
<header>
  <div class="nave">{% include 'nav.html' %}</div>
</header>
{% endblock header %}
<!-- ------------- Body -------------  -->
{% block body %}
<div class="container">
  <!-- -------------- S ----- categories carousel ----------------  -->

  <div class="row my-3">
    <div class="col-12">
      <div id="events" class="event-list owl-carousel owl-loaded owl-drag">
        <div class="owl-stage-outer">
          <div class="owl-stage d-flex">
            {% for categ in categories %}
            <div class="owl-item" style="width: 374.5px">
              <a href=" {% url 'Home:category_show' categ.id %} ">
                <div class="event-item">
                  <div class="img">
                    <img
                      src="{{ categ.logo.url }}"
                      class="img-thumbnail"
                      style="width: 100%"
                    />
                  </div>
                  <div class="titel">
                    <p class=" ">{{ categ.titel }}</p>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="owl-nav">
          <button type="button" role="presentation" class="owl-prev">
            <div class="owl-nav-wrapper bg-soft-primary">
              <i class="fa-solid fa-chevron-left"></i>
            </div>
          </button>
          <button type="button" role="presentation" class="owl-next">
            <div class="owl-nav-wrapper bg-soft-primary">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </button>
        </div>
        <div class="owl-dots disabled"></div>
      </div>
    </div>
  </div>

  <!-- -------------- E ----- categories carousel ----------------  -->

  <!-- products By categores  -->
  {% for cat in categories %}
  <section class="cate_sections">
    <div class="section_header w-100" style="height: 40px">
      <h2>{{ cat.titel }}</h2>
    </div>
    <div class="main d-flex">
      {% for pro in products %}
      <!-- -----------  -->
      {% if cat == pro.category %}
      <article class="prod m-1">
        <a href=" {% url 'Home:products' pro.id %}  ">
          <div class="img">
            <img src="{{ pro.images.url }}" alt="" />
          </div>
          <div class="info">
            <div class="titel fw-semibold text-decoration-none">
              {{pro.titel}}
            </div>
            <div class="prc fw-bold text-decoration-none">
              {{pro.price}} <span> Dhs</span>
            </div>
          </div>
        </a>
      </article>
      {% endif %}
      <!-- -----------  -->
      {% endfor %}
    </div>
    <div class="btns">
      <button class="leftmain"></button>
      <button class="righttmain"></button>
    </div>
  </section>
  {% endfor %}
</div>
{% endblock body %}
<!-- ------------- Footer -------------  -->
{% block footer %} {% include 'footer.html' %} {% endblock footer %}
<!-- custum js -->
{% block script %}
<script>
  (function ($) {
    "use strict";
    $(function () {
      //Event carousel
      $("#events").owlCarousel({
        loop: true,
        margin: 0,
        autoPlay: 3000,
        responsive: {
          0: {
            items: 1,
          },
          768: {
            items: 2,
          },
          979: {
            items: 3,
          },
          1199: {
            items: 4,
          },
        },
        singleItem: false,
        dots: false,
        nav: true,
        navText: ["", ""],
      });
      $(".btn-event-show").collapse();
      //Events: Tooltip
      $(".event-user").tooltip({ boundary: "window" });
      feather.replace();
    });
  })(jQuery);
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
{% endblock script %}
