{% extends 'base.html' %} {% load static %}
<!-- custum css -->
{% block style %}
<link rel="stylesheet" href="{% static 'css/store.css' %}" />
{% endblock style %}
<!-- ------------- Header -------------  -->
{% block header %}
<header>
  <div class="nave">{% include 'nav.html' %}</div>
</header>
{% endblock header %}
<!-- ------------- Body -------------  -->
{% block body %}
<div class="container">
  <div class="categores_carocel d-flex my-5 p-3">
    {% for categ in categories %}
    <a href="">
      <div class="card" style="width: 18rem; height: 22rem">
        <img
          src=" {{ categ.logo.url }}"
          class="card-img-top"
          style="width: 100%"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title h2">{{ categ.titel }}</h5>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  <!-- products By categores  -->
  {% for cat in categories %}
  <section class="cate_sections">
    <div class="section_header w-100" style="height: 40px">
      <h2>{{ cat.titel }}</h2>
    </div>
    <div class="main d-flex">
      {% for pro in products %}

      <!-- -----------  -->

      <p>category = (( {{ cat.titel }})) and pro = (( {{ pro.category }} ))</p>
      <article class="prod m-1">
        <a href="">
          <div class="img">
            <img src="{{ pro.images.url }}" alt="" />
          </div>
          <div class="info">
            <div class="titel fw-semibold text-decoration-none">
              {{pro.titel}}
            </div>
            <div class="prc fw-bold text-decoration-none">
              {{pro.price}} <span> Dhs</span>
            </div>
          </div>
        </a>
      </article>

      <!-- -----------  -->
      {% endfor %}
    </div>
    <div class="btns">
      <button class="leftmain"></button>
      <button class="righttmain"></button>
    </div>
  </section>
  {% endfor %}
</div>
{% endblock body %}
<!-- ------------- Footer -------------  -->
{% block footer %} {% include 'footer.html' %} {% endblock footer %}
<!-- custum js -->
{% block script %} {% endblock script %}
