{% extends "base_generic.html" %}
<!-- --------------------------------- -->
{% block content %}
<div class="container">
  <div class="w-100 h-100 p-5">
    <div
      class="d-flex flex-column align-items-center justify-content-center m-5 p-3 shadow border rounded"
    >
      <div class="head">
        <span> your Logged out!</span>
      </div>
      <a href="{% url 'login'%}" class="btn btn-success my-2"
        >Click here to login again.</a
      >
      <a href="/" class="btn btn-primary my-2">Click here to see Home.</a>
    </div>
  </div>
</div>

{% endblock %}
